Django==1.9.5
Twisted==16.1.1
argparse==1.2.1
asgi-redis==0.10.0
asgiref==0.11.2
autobahn==0.13.1
channels==0.11.0
daphne==0.10.3
django-lazysignup==1.0.2
django-registration-redux==1.4
geoip2==2.2.0
geopy==1.11.0
ipaddr==2.1.11
maxminddb==1.2.0
msgpack-python==0.4.7
redis==2.10.5
requests==2.20.0
six==1.10.0
txaio==2.3.1
wsgiref==0.1.2
zope.interface==4.1.3

