{% load staticfiles %}<!doctype html>
{% load i18n lazysignup_tags %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="description" content="PickASpot is a web site that makes it easier to organize group dinings">
	<!-- Fixes mobile devices not resizing page -->
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<!-- Configurable in admin cp -->
	<title>{% block title %}{% endblock %} | Pick A Spot</title>
	<!-- Favicon -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% static 'images/apple-touch-icon-60x60.png' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}" />
	<link rel="icon" type="image/png" href="{% static 'images/favicon-196x196.png'%}" sizes="196x196" />
	<link rel="icon" type="image/png" href="{% static 'images/favicon-96x96.png' %}" sizes="96x96" />
	<link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
	<link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
	<link rel="icon" type="image/png" href="{% static 'images/favicon-128.png' %}" sizes="128x128" />
	<meta name="application-name" content="Pick A Spot"/>
	<meta name="msapplication-TileColor" content="#BF2A23" />
	<meta name="theme-color" content="#BF2A23">
	<meta name="msapplication-TileImage" content="{% static 'images/mstile-144x144.png'" />
	<meta name="msapplication-square70x70logo" content="{% static 'images/mstile-70x70.png'" />
	<meta name="msapplication-square150x150logo" content="{% static 'images/mstile-150x150.png'" />
	<meta name="msapplication-wide310x150logo" content="{% static 'images/mstile-310x150.png'" />
	<meta name="msapplication-square310x310logo" content="{% static 'images/mstile-310x310.png'" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
	<!-- Custom Stylesheets -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	{% block stylesheets %}{% endblock %}{% block scripts %}{% endblock %}{% block redirects %}{% endblock %}</head>
<body>
	{% block nav %}
	{% if title != 'Splash' %}
	<nav class="navbar navbar-findcond navbar-fixed-top" style="z-index: 2;">
	    <div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Pick A Spot</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_authenticated %}
					<li class="dropdown" id="room-instances-li">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-home"></i> Room Instances <span id="room-instances-badge-count" class="badge">{{ rooms|length }}</span></a>
						{% if rooms %}
						<ul id="room-instances-dropdown" class="dropdown-menu" role="menu">
							{% for room in rooms %}
           	 					<li><a href="/map/?room={{room.roomname}}"><span data-duration='{{room.expirydate}}' class="badge room-time-left"> </span>Room-{{room.roomname}}</a></li>
           	 				{% endfor %}
						</ul>
           	 			{% endif %}						
					</li>
					{% endif %}
					{% if user.is_authenticated and not user|is_lazy_user  %}
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Notifications <span id="notifications-badge-count" class="badge">{{ notificationslength }}</span></a>
						{% if friendinvites or pendingnotifications %}
						<ul id="friend-notifications-dropdown" class="dropdown-menu" role="menu">
							{% for notification in pendingnotifications %}
	   	 					<li><a>
	   	 						<span> {{notification.message}} </span>
	   	 						<i data-notificationid='{{notification.notificationid}}' class="fa fa-times-circle-o fa-lg notification-button notification-button-decline"></i> 
	   	 					</a></li>
	   	 					{% endfor %}							
							{% for friend in friendinvites %}
	   	 					<li><a>
	   	 						<i data-username='{{friend.username}}' class="fa fa-check-circle-o fa-lg notification-button friend-button-accept"></i>
	   	 						<span> {{friend.username}}, has sent an invite to be your friend! </span>
	   	 						<i data-username='{{friend.username}}' class="fa fa-times-circle-o fa-lg notification-button friend-button-decline"></i> 
	   	 					</a></li>
	   	 					{% endfor %}
						</ul>
						{% endif %}
					</li>
					{% endif %}
					{% if user.is_authenticated %}
					<li><a href="/map/"><i class="fa fa-cutlery"></i> Create Room</a></li>
					{% endif %}
					{% for group in user.groups.all %}
					{% if group.name == 'Admin' %}
					<li><a href="/admin/"><i class="fa fa-fw fa-lock"></i>Admin CP</a></li>
					{% endif %}
					{% endfor %}
					{% if user.is_authenticated %}
					<li class="dropdown">
						<a class="dropdown-toggle username" data-toggle="dropdown" role="button" aria-expanded="false">{{user}}<span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							{% if user.is_authenticated and not user|is_lazy_user  %}
							<li><a href="/profile/">Manage Profile</a></li>
							{% endif %}
							<li><a href="{% url 'auth_logout' %}?next=/">Logout</a></li>
						</ul>
					</li>
					{% endif %}
					{% if not user.is_authenticated %}
					<li><a href="{% url 'auth_login' %}"> Login</a></li>
					<li><a href="{% url 'registration_register' %}"> Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	{% endif %}
	{% endblock %}

	<!-- Used for content that needs to be placed before the main content container -->
	{% block content-before %}
	{% endblock %}

	<!-- Main content container -->
	{% if title != 'Splash' %}
	<div class="container content">
	{% block content %}
 	{% endblock %}
	<footer class="col-md-12">
	</footer>
	</div>
	{% endif %}

	<!-- Used for content that needs to be placed after the main content container -->
	{% block content-after %}
	{% endblock %}

	<!-- Only used for the splash page -->
	{% if title == 'Splash' %}
	<footer class="footer col-md-12">
	</footer>
	{% endif %}

	{% block bootstrap-scripts %}
	<!-- Bootstrap default scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/guestuser.js' %}"></script>
    <script src="{% static 'scripts/base.js' %}"></script>
    <script src="{% static 'scripts/ie10-viewport-bug-workaround.js' %}"></script>
    {% endblock %}
    {% block custom-scripts %}{% endblock %}
</body>
</html>
