{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ title }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/friend.css' %}">
{% endblock %}

{% block content %}
    <form class="form-horizontal col-md-12">
		<div class="col-md-8">
			<label for="friend-name">Add Friend</label>
		</div>
		<div class="col-md-8 horizontal-addfriend">
			<div class="col-md-4 addfriend-input">
				<input id="friend-name" class="form-control" type="text" placeholder="Friend's Username" autofocus>
			</div>
			<input id="btn-add" class="btn btn-default" type="submit" value="&#x2b;">
		</div>
	</form>


	<div class="list-content col-md-12">
	    <ul id="friendlist" class="list-group">
			<li href="#" class="list-group-item title">
			Your friend zone
			</li>
			<div class="scrollable">
				{% for x in friends|dictsort:"user2.username" %}
					{% if x.user2 != user %}
					<li href="#" class="list-group-item text-left col-md-12">
						<label class="name col-md-2">
						    <span class="glyphicon glyphicon-user"></span> {{ x.user2 }}
						</label>
						<div class="col-md-2">
							<a href="mailto:{{ x.user2.email }}?Subject=PickASpot" target="_top">{{ x.user2.email }}</a>
						</div>
						<div class="col-md-4">
							Last Login: {{ x.user2.last_login }}
						</div>
						<label class="pull-right">
						    <a id="delete-{{ x.user2 }}" class="btn btn-danger btn-xs glyphicon glyphicon-trash btn-delete" title="Delete" del="{{ x.user2 }}"></a>
						</label>
					</li>
					{% endif %}
				{% endfor %}
			</div>
	    </ul>
	</div>
{% endblock %}


{% block custom-scripts %}
<script src="{% static 'scripts/friendlist.js' %}"></script>
{% endblock %}