{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ title }}
{% endblock %}


{% block content %}
<img src="{% static 'images/splashbanner.png' %}" class="splashbanner">
<img src="{% static 'images/paslogo.png' %}" class="paslogo_large">
<div class="splashintro">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas euismod felis sed feugiat interdum. Mauris velit lorem, dictum sed odio sed, condimentum pellentesque lorem. Ut ac velit varius, elementum est sed, commodo erat. Donec id imperdiet velit. Nullam lacinia, dui non cursus euismod, turpis ante blandit velit, vitae tristique dui arcu vel felis. Donec nec fringilla justo, quis aliquet neque. Donec aliquet posuere augue, sed gravida metus blandit ac. Aliquam rutrum, erat non consequat accumsan, ligula mauris porttitor ex, eu lobortis ex diam et lacus. Sed eu fermentum justo, sed rutrum velit. Sed nec magna et sem placerat rutrum. Nam at lacus enim.</p>
	<p>Fusce gravida volutpat blandit. Ut faucibus nulla sit amet lacus fringilla, sit amet pretium diam pharetra. Donec et convallis ipsum, a laoreet nisl. Aenean id mauris eu neque interdum tincidunt nec at elit. Phasellus et gravida orci, sed tempus justo. Morbi hendrerit ligula sed tortor mollis, vitae semper odio condimentum. Suspendisse sodales ut orci sit amet pellentesque. Aenean libero nisi, semper volutpat ipsum quis, rhoncus tempus orci. Mauris condimentum purus varius vulputate sollicitudin.</p>
</div>
{% endblock %}