{% extends 'base.html' %}
{% load i18n %}
{% load i18n lazysignup_tags %}
{% load staticfiles %}
{% block title %}{{ title }}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/preferences.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slideoutmenu.css' %}">
{% endblock %}
{% block content %}
{% csrf_token %}
<label style="display: none;" id="preferences-obj">{% if user.is_authenticated and preferences %}{"user":"{{ user }}","preferences":{{ preferences }}}{% endif %}</label>
<label style="display: none;" id="lonlat-obj">[ {{ lon }}, {{lat}} ]</label>



<!-- CREATE ROOM BUTTON -->
<div class="col-md-12 text-center optionschoice" style="padding: 50px;">
	<button type="button" id="createroom-btn" class="btn btn-default btn-danger col-md-4" style="display: inline-block; float: none; font-weight: bold; padding: 20px; margin: 0 auto;">Create Room</button>
</div>



<!-- SLIDE-OUT MENU NAVIGATION -->
<div id="o-wrapper" class="o-wrapper">
	<div class="c-buttons">
		<button id="c-button--slide-left" class="c-button" data-toggle="modal" data-target="#quickpick-modal"><span>Set Preferences</span><i class="fa fa-cog"></i></button>
	</div>
</div>



<!-- SLIDE-OUT MENU -->
<nav id="c-menu--slide-left" class="c-menu c-menu--slide-left">
  	<button class="c-menu__close">&larr; Close Menu</button>
	<!-- PREFERENCES -->                      
	<div id="quickpick-modal"> 
        <div class="form-container col-md-12">
            <h4 class="modal-title">Set your preferences</h4>
            {% csrf_token %}
            <div id="error-container" class="col-md-12" style="display: none;"></div>
            <div class="form-group col-md-5">
            	Price:
                <br>
                <div class="input-group">
                    <div class="btn-group btn-group-vertical" data-toggle="buttons">
                        <label class="btn">
                        	<input type="radio" name='pricerad' value="low"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> Low</span>
                        </label>
                        <label class="btn">
                        	<input type="radio" name='pricerad' value="high"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> High</span>
                        </label>
                    </div>
                </div>
            </div><!-- form-group -->
            <div class="form-group col-md-4">
            	Distance:
                <br>
                <div class="input-group">
                    <div class="btn-group btn-group-vertical" data-toggle="buttons">
                        <label class="btn">
                            <input type="radio" name='distance' value="walking"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i> <span> Walking</span>
                        </label>
                        <label class="btn">
                            <input type="radio" name='distance' value="driving"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> Driving</span>
                        </label>
                    </div>
                </div>
            </div><!-- form-group -->
            <div class="form-group col-md-5">
                <div id="default-food-options" class="btn-group btn-group-vertical" data-toggle="buttons">
                    Cuisine Examples:
                    <label class="btn">
                       <input type="checkbox" name='caribbeanfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Caribbean Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='chinesefood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Chinese Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='frenchfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> French Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='greekfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Greek Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='indianfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Indian Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='italianfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Italian Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='japanesefood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Japanese Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='koreanfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Korean Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='middleeasternfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Middle Eastern Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='spanishfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Spanish Eastern Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='thaifood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Thai Food</span>
                    </label>
                    <label class="btn">
                       <input type="checkbox" name='vietnamesefood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Vietnamese Food</span>
                    </label>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="input-group">
                    Types of Cuisine:
                    <br>
                    <div class="form-inline">
                      <div class="icon-addon addon-lg form-group">
                        <input id="search-add" type="text" placeholder="Example: Steak, Donut, etc" class="form-control" maxlength="40">
                        <i class="fa fa-cutlery fa-2x"></i>
                      </div>
                      <button id="btn-add" class="btn btn-default" type="button">Add Choice</button>     
                    </div>
                </div>
                <div id="user-food-options" class="btn-group btn-group-vertical" data-toggle="buttons">
                    <hr> User Choices:    
                </div>
            </div>
        </div>
	</div>
        <button id="btn-save" class="btn btn-default" type="button" data-dismiss="modal">Save</button>
</nav>
<div id="c-mask" class="c-mask"></div>

<!-- MAP-CONTAINER -->
<div style="display: none;" class="map-container">
    <i data-toggle="modal" data-target="#location-modal" id="set-location" title="Set Your Own Location" class="fa fa-compass fa-2x"></i>
    <div class="row">
        <!-- ADDRESS MODAL -->
        <div style="display: none;" class="modal fade" id="location-modal" tabindex="-1" role="dialog" aria-labelledby="location-modallabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="location-modallabel">Set Location</h4>
              </div>
              <div class="modal-body">
                <button id="share-location-btn" type="button" class="btn btn-default" data-dismiss="modal">Share Current Location</button>
                <div class="form-group">
                    <label for="usr">Address or Postal/Zip Code:</label>
                    <input type="text" class="form-control" id="locate-address-input">              
                    <button id="locate-address-btn" type="button" class="btn btn-default" data-dismiss="modal">Locate Address</button>
                </div>
              </div>
              <div class="modal-footer">
                <button id="reset-location-btn" type="button" class="btn btn-primary" data-dismiss="modal">Reset Location</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- SHARE MODAL -->
        <div style="display: none;" class="modal fade" id="share-modal" tabindex="-1" role="dialog" aria-labelledby="share-modallabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="share-modallabel">Share</h4>
              </div>
              <div class="modal-body">
                <h5>Give this URL to the people you want to invite (valid for 24 hours after creation): </h5>
                <input type="text" class="form-control" id="share-link-url" readonly>
                <i href="mailto:?subject=Pick%20A%20Spot&amp;body=Pick%20A%20Spot%20To%20Eat%20With%20Me%20" id="email-link" title="Share This Room With Friends" class="fa fa-envelope-o fa-2x"> Email To Others</i>
                <script>
                    document.getElementById("share-link-url").value = window.location.href;
                    document.getElementById("email-link").setAttribute("href", document.getElementById("email-link").getAttribute("href") + window.location.href)
                </script>                
                {% if user.is_authenticated and not user|is_lazy_user  %}
                <i id="email-link-auth" title="Share This Room With Friends" class="fa fa-envelope-o fa-2x"> Share This Room With PickASpot Friends</i>
                <table id="friend-list-share" style="display: none;" class="table table-striped">
                    <thead>
                      <tr>
                        <th>Friends</th>
                        <th>Send Invite?</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for x in friends|dictsort:"user2.username.lower"%}
                        {% if x.user2 != user and x.user2.username not in listofusers %}
                        <tr>
                            <td class="friend-name">{{ x.user2 }}</td>
                            <td><div class="checkbox"><label><input class="checkbox-friends" type="checkbox" value="{{ x.user2 }}"></label></div></td>      
                        </tr>
                        {% endif %}
                        {% if x.user1 != user and x.user1.username not in listofusers %}
                        <tr>
                            <td class="friend-name">{{ x.user1 }}</td>
                            <td><div class="checkbox"><label><input class="checkbox-friends" type="checkbox" value="{{ x.user1 }}"></label></div></td>      
                        </tr>   
                        {% endif %}                    
                    {% endfor %}                      
                    </tbody>
                </table>
                {% endif %}  
              </div>
              <div class="modal-footer">
                {% if user.is_authenticated and not user|is_lazy_user  %}
                <button style="display: none;" id="send-invites-btn" type="button" class="btn btn-primary" data-dismiss="modal">Send Invites</button>
                {% endif %}                  
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>        
	    <!-- MAP -->
        <div id="map-cell" class="col-xs-8 col-md-8 no-padding">
            <div id="map" style="height:500px;"></div>
        </div>
        <!-- RESULTS -->
        <div class="col-xs-4 col-md-4 no-padding">
            <div class="panel panel-primary panel-results">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Results</b></h3>
                </div>
                <div id="panel-results-box" class="panel-body" style="height: 415px; }">
                    <div id="instructions">
                    testing
                    </div>
                	<table id="table-results" class="table table-striped">
                		<tbody id="table-body-results"></tbody>
                	</table>
                </div>       
            </div>
            <div class="panel-footer">
                <button id="btn-ready-pick" type="button" class="btn btn-warning col-md-6">Run Results</button>
                <button data-toggle="modal" data-target="#ready-modal" id="btn-options-room" type="button" class="btn btn-warning col-md-6">Room Options</button>
                <!--<button id="btn-ready-pick" type="button" class="btn btn-warning col-xs-8 col-md-8">Run Results</button>         
                <button data-toggle="modal" data-target="#ready-modal" id="btn-options-room" type="button" class="btn btn-warning col-xs-4 col-md-4 no-padding">Room Options</button>-->
            </div>  
        </div>
        <!-- PICK-A-SPOT-MODAL-->
        <div style="display: none;" class="modal fade" id="ready-modal" tabindex="-1" role="dialog" aria-labelledby="ready-modallabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="ready-modallabel">Room Options</h4>
              </div>
              <div class="modal-body">
                <form>
                    <div class="row">
                    <div class="col-xs-6 col-md-6" style="border-right: 1px dashed #B3A9A9;">
                        <div class="form-group">
                            <h4 for="managepreferences">Manage Room Preferences</h4>
                            <input type="radio" name="managepreferences" id="preferences-everyone" checked/>
                            <label for="preferences-everyone">
                                <span class="fa-stack">
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                </span> Include Everyone
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="managepreferences" id="preferences-online" />     
                            <label for="preferences-online">
                                <span class="fa-stack">
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                </span> Include Only Those Online In The Room
                            </label>
                        </div>                         
                    </div>                        
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <h4 for="numberpick">Manage Room Results</h4>
                            <input type="radio" name="numberpick" id="numberpick-twenty" checked/>                               
                            <label for="numberpick-twenty">
                                <span class="fa-stack">
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                </span> Show Up To 20 Results
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="numberpick" id="numberpick-one" />     
                            <label for="numberpick-one">
                                <span class="fa-stack">
                                    <i class="fa fa-circle-o fa-2x"></i>
                                    <i class="fa fa-check-circle-o fa-2x"></i>
                                </span> Show Only One Random Result
                            </label>
                        </div>                    
                    </div>
                    </div>
                </form>                
              </div>
              <div class="modal-footer">
                <button id="btn-save-run-options" type="button" class="btn btn-default run-results" data-dismiss="modal">Save Options &amp; Run Results</button>
                <button id="btn-save-options" type="button" class="btn btn-default" data-dismiss="modal">Save Options</button>
                <button id="btn-close-options" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>         
    </div>
    <div class="row">
        <!-- CHAT -->
            <div id="chat-cell" class="col-xs-8 col-md-8 no-padding">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-comment"></i> Chat
                    <div class="btn-group pull-right">
                    </div>
                </div>
                <div class="panel-body">
                    <ul id="chat-list" class="chat">
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="comment-box" type="text" class="form-control input-sm" placeholder="Type your message here and press enter..." maxlength="500"/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">Send</button>
                        </span>
                    </div>
                </div>
            </div>
            </div>
        <!-- IN-ROOM -->
            <div class="col-xs-4 col-md-4 no-padding">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-users"></i> Users That Have Joined The Room
                    <small class="pull-right">Online?</small>
                </div>     
                <div class="panel-body no-padding">               
                    <ul id="online-list" class="scrollable no-padding">                   
                    </ul>
                </div>
                <div title="Share This Room" data-toggle="modal" data-target="#share-modal" id="share-link" class="panel-footer no-padding share-panel">
                    <i class="fa fa-link fa-2x"></i> Share This Room With Others
                </div>
            </div>        
        </div>
    </div>
</div>




{% endblock %}
{% block custom-scripts %}
<script src="{% static 'scripts/map.js' %}"></script>
{{ mapapi|safe }}
<script src="{% static 'scripts/friendlist.js' %}"></script>
<script src="{% static 'scripts/chat.js' %}"></script>
<script src="{% static 'scripts/preferences.js' %}"></script>
<script src="{% static 'scripts/choices.js' %}"></script>
<script src="{% static 'scripts/menu.js' %}"></script>
<script src="{% static 'scripts/validator.min.js' %}"></script>
<script>
var slideLeftBtn = document.querySelector('#c-button--slide-left');
var slideLeftBtn = document.querySelector('#c-button--slide-left');
var slideRightBtn = document.querySelector('#c-button--slide-right');
var pushRightBtn = document.querySelector('#c-button--push-right');

//-------------------------------------
// SLIDE LEFT
var slideLeft = new Menu({
	wrapper: '#o-wrapper',
	type: 'slide-left',
	menuOpenerClass: '.c-button',
	maskId: '#c-mask'
});

slideLeftBtn.addEventListener('click', function(e) {
	e.preventDefault;
	slideLeft.open();
});

//-------------------------------------
// PUSH LEFT
var pushLeft = new Menu({
    wrapper: '#o-wrapper',
    type: 'push-left',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
});


pushLeftBtn.addEventListener('click', function(e) {
    e.preventDefault;
    pushLeft.open();
});

//-------------------------------------
// SLIDE RIGHT
var slideRight = new Menu({
    wrapper: '#o-wrapper',
    type: 'slide-right',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
});

slideRightBtn.addEventListener('click', function(e) {
    e.preventDefault;
    slideRight.open();
});

//-------------------------------------
// PUSH RIGHT
var pushRight = new Menu({
    wrapper: '#o-wrapper',
    type: 'push-right',
    menuOpenerClass: '.c-button',
    maskId: '#c-mask'
});

pushRightBtn.addEventListener('click', function(e) {
    e.preventDefault;
    pushRight.open();
});
</script>
{% endblock %}