{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{{ title }}
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/preferences.css' %}">
{% endblock %}
{% block content %}
{% csrf_token %}
<label style="display: none;" id="preferences-obj">{% if user.is_authenticated %}{ "user" : "{{ user }}", "preferences" : {{ preferences }} }{% endif %}</label>
<div class="container">
<!-- OPTIONS -->
<div class="row optionschoice">
    {% if user.is_authenticated %}
    <div id="pickoption" class="col-xs-5 map-option">
        <h1>Pick-A-Spot</h1>
        <ul class="row ">
            <li><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small></li>
            <li><small>veniam quis nostrud exercitation ullamco</small></li>
            <li><small>aboris nisi ut aliquip ex ea commodo consequat</small></li>
        </ul>
    </div>
    {% endif %}
    <div id="quickoption" class="col-xs-5 map-option">
        <h1>Quick-Pick</h1>
        <ul  class="row">
            <li><small>Lorem ipsum dolor sit amet, consectetur adipiscing elit</small></li>
            <li><small>veniam quis nostrud exercitation ullamco</small></li>
            <li><small>aboris nisi ut aliquip ex ea commodo consequat</small></li>
        </ul>
    </div>
</div>
<div style="display: none;" class="container map-container">
    <div class="row">
	    <!-- MAP -->
        <div class="col-md-8 no-padding">
            <div id="map" style="height:500px;"></div>
        </div>
        <!-- RESULTS -->
        <div class="col-md-4 no-padding">
            <div class="panel panel-primary panel-results">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Results</b></h3>
                </div>
                <div id="panel-results-box" class="panel-body" style="height: 414px; }">
                	<table id="table-results" class="table table-striped">
                		<tbody id="table-body-results">

                		</tbody>
                	</table>
                </div>           
            </div>
    		<button id="btn-ready-pick" type="button" class="btn btn-info">Ready!</button>     
        </div>
    </div>
    <div class="row">
        <!-- CHAT -->
        <div class="col-md-4 no-padding chat-div">
            <div class="panel panel-primary panel-chat">
                <div class="panel-heading">
                    <h3 class="panel-title"><b> Chat Window </b><small>last seen 10:38 am</small></h3>
                </div>
                <div id="panel-chat-box" class="panel-body" style="height: 200px; }">
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control box-chat" rows="2" id="comment-box"></textarea>
            </div>
        </div>
    </div>
</div>
<!-- PREFERENCES -->
<div style="display: none;" class="container preferences-container">
    <div class=" form-group">
        <div class="row">
            <div class="col-xs-12">
                <br> Price:
                <br>
                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                    <label class="btn">
                    <input type="radio" name='pricerad' value="low"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i> <span>  Low</span>
                    </label>
                    <label class="btn">
                    <input type="radio" name='pricerad' value="high"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> High</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <br> Distance:
                <br>
                <div class="btn-group btn-group-vertical" data-toggle="buttons">
                    <label class="btn">
                    <input type="radio" name='distance' value="walking"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i> <span>  Walking</span>
                    </label>
                    <label class="btn">
                    <input type="radio" name='distance' value="driving"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-check-circle-o fa-2x"></i><span> Driving</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr>
                Types of Cuisine:
                <br>
                <div class="form-inline">
                    <div class="icon-addon addon-lg form-group">
                        <input id="search-add" type="text" placeholder="Example: Steak, Donut, etc" class="form-control">
                        <i class="fa fa-cutlery fa-2x"></i>
                    </div>
                    <button id="btn-add" class="btn btn-default" type="button">Add Choice</button>     
                </div>
                <div id="default-food-options" class="btn-group btn-group-vertical col-xs-6" data-toggle="buttons">
                    <hr>
                    Cuisine Examples:
                    <label class="btn">
                    <input type="checkbox" name='caribbeanfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Caribbean Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='chinesefood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Chinese Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='frenchfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> French Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='greekfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Greek Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='indianfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Indian Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='italianfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Italian Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='japanesefood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Japanese Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='koreanfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Korean Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='middleeasternfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Middle Eastern Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='spanishfood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Spanish Eastern Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='thaifood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Thai Food</span>
                    </label>
                    <label class="btn">
                    <input type="checkbox" name='vietnamesefood'><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i><span> Vietnamese Food</span>
                    </label>           
                </div>
                <div id="user-food-options" class="btn-group btn-group-vertical col-xs-6" data-toggle="buttons">
                    <hr>
                    User Choices:    
                </div>
                <div class="col-xs-12">
                    <button id="btn-preferences" class="btn btn-default" type="button">Ready</button>   
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block custom-scripts %}
<script src="{% static 'scripts/map.js' %}"></script>
{{ mapapi|safe }}
<script src="{% static 'scripts/friendlist.js' %}"></script>
<script src="{% static 'scripts/chat.js' %}"></script>
<script src="{% static 'scripts/choices.js' %}"></script>
<script src="{% static 'scripts/preferences.js' %}"></script>
{% endblock %}