{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ title }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
<div class="container map-container">
  <div class="col-md-8 map-left">
    <div id="map" style="height:500px;"></div>
  </div>
  <div class="col-md-4 map-right"> 
    <div class="panel panel-primary panel-chat">
      <div class="panel-heading"><h3 class="panel-title"><b> Chat Window </b><small>last seen 10:38 am</small></h3>
      </div>
      <div id="panel-chat-box" class="panel-body" style="height: 300px; }">
      </div>
    </div>
    <div class="form-group">
      <textarea class="form-control box-chat" rows="2" id="comment-box"></textarea>
    </div>
  </div>
</div>
<script src="{% static 'scripts/map.js' %}"></script>
{{ mapapi|safe }}
{% endblock %}

{% block custom-scripts %}
<script src="{% static 'scripts/chat.js' %}"></script>
{% endblock %}