{% extends 'base.html' %}

{% block title %}{{ title }}
{% endblock %}

{% block content %}
	{% for x in users %}
		{{ x }}
	{% endfor %}
	<form class="registerform" method="post">
		{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="formfield">
			{{ form.subject.errors }}
			<label for="{{ form.subject.id_for_label }}">Username:</label>
			{{ form.username }}
		</div>
		<div class="formfield">
			{{ form.subject.errors }}
			<label for="{{ form.subject.id_for_label }}">Password:</label>
			{{ form.password }}
		</div>
		<div class="formfield">
			{{ form.subject.errors }}
			<label for="{{ form.subject.id_for_label }}">Email:</label>
			{{ form.email }}
		</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	</form>
{% endblock %}