{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Reset Password
{% endblock %}

{% block content %}
<form class="col-md-4" method="post" action="/confirmreset/" data-toggle="validator" role="form">
  {% csrf_token %}
        <div class="form-group has-feedback">
  			<label for="id_email" class="control-label">E-mail:</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  				<input type="email" class="form-control" maxlength="20" id="id_email" name="email">
           	</div>
           	<div class="help-block">
				<p>Enter the e-mail you wish to reset:</p>
           	</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans 'Reset password' %}</button>
        </div>
</form>
{% endblock %}

{% block custom-scripts %}<script src="{% static 'scripts/validator.min.js' %}"></script>{% endblock %}