body {
  padding-top: 273.5px;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 51px;
  }
}

.content {
}

.footer {
	bottom: 10px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.registerform {
	max-width: 800px;
	padding: 15px;
	margin: 0 auto;
}

.paslogo_large {
	height: 100px;
	display: block;
	margin: 0 auto;
}

.splashbanner {
	margin: 0 auto;
	display: block;
}

.splashintro {
	width: 1000px;
	margin: 0 auto;
	margin-top: 3%;
	line-height: 25px;
}

.splash-content {
  padding-top: 150px;
  min-height: 88vh;
  background-image: url('../images/splash1.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: hidden;
  text-align: center;
}

.splash-content h1 {
  color: #333;
}

.splash-box {
  background: rgba(200, 200, 200, 0.8);
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.splash-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;;
  background: #fafafa;
  transition:0.2s ease-in-out;
}

.splash-box input:focus{
  outline: 0;
  background: #eee;
}

.splash-box input[type="text"]{
  border-radius: 5px 5px 0 0;
  text-transform: lowercase;
}

.splash-box input[type="password"]{
  border-radius: 0 0 5px 5px;
  border-top: 0;
  text-transform: lowercase;
}

.splash-box input[type="submit"]{
  margin-top:15px;
  padding: 10px 20px;
  color: #fafafa;
  border: #2C8BB0;
  background: #4FB7E0;
  font-weight: bold;
}

.splash-box .left {
  display: inline-block;
}

.splash-box .right {
  display: inline-block;
}

.nav-logo {
  text-align: center;
  background-image: url('../images/logo.png');
}