{% extends "base.html" %}
{% load i18n %}

{% block title %}Login
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<form class="form-signin mg-btm">
  		{% csrf_token %}
    	<h3 class="heading-desc">
		Login</h3>

		<div class="main">	
            <label>{{ form.username.label }}</label>    
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>

            	<input id="id_username" type="text" name="username" class="form-control" placeholder="" autofocus>
            </div>
            <label>{{ form.password.label }}   <a href="">(forgot password)</a></label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="id_password" type="password" name="password" class="form-control" placeholder="Password">
            </div>
    
        	<div class="row">
                <div class="col-xs-6 col-md-6">
                     
                </div>
                <div class="col-xs-6 col-md-6 pull-right">
                    <button type="submit" class="btn btn-large btn-success pull-right">Login</button>
                </div>
            </div>
		</div>
        
		<span class="clearfix"></span>	

		<div class="login-footer">
    		<div class="row">
                <div class="col-xs-6 col-md-6">
                    <div class="left-section">
                        <a href="">Create an account</a>
    				</div>
                </div>
                <div class="col-xs-6 col-md-6 pull-right">
                </div>
            </div>
		</div>
      </form>
	</div>
</div>






<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not a member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
{% endblock %}
