{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Login
{% endblock %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{% static 'css/loginregister.css' %}">
{% endblock %}

{% block content %}
    <form class="login-form col-md-4" method="post" action="{% url 'auth_login' %}" data-toggle="validator" role="form">
        {% csrf_token %}
        {% for field, errors in form.errors.items %}
        {{ errors }}
        {% endfor %}
        <div class="form-group">
            <label for="id_username" class="control-label">Username</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="username" id="id_username" maxlength="15" required autofocus>
           </div>
        </div>
        <div class="form-group">
            <label for="id_password" class="control-label">Password</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                <input type="password" class="form-control" name="password" id="id_password" maxlength="20" required>
            </div>
           <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
        </div>
    </form>
{% endblock %}


{% block custom-scripts %}<script src="{% static 'scripts/validator.min.js' %}"></script>{% endblock %}