{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}Register
{% endblock %}

{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{% static 'css/loginregister.css' %}">
{% endblock %}

{% block content %}
	<form class="register-form col-md-4" method="post" action="." data-toggle="validator" role="form">
        {% csrf_token %}
        {% for field, errors in form.errors.items %}
        {{ errors }}
        {% endfor %}
        <div class="form-group has-feedback">
            <label for="id_username" class="control-label">Username</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" name="username" id="id_username" pattern="^[^\d][\da-zA-Z]{3,}$" maxlength="15" placeholder="Eg. JohnDoe" value="{{ request.POST.values.0 }}" required>
           	</div>
           	<div class="help-block">
	           	<ul>
	           		<li>Must be between 4-15 characters long</li>
	           		<li>Cannot begin with a digit(0-9)</li>
	           		<li>Cannot contain punctuation</li>
	           	</ul>
           	</div>
        </div>
        <div class="form-group has-feedback">
        	<label for="id_email">E-mail</label>
        	<div class="input-group">
	            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
	            <input type="text" class="form-control" name="email" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$" id="id_email" maxlength="25" placeholder="Eg. johndoe@example.com" value="{{ request.POST.values.3 }}" required>
        	</div>
        </div>
        <div class="form-group">
        	<label for="id_password1" class="control-label">Password</label>
        	<div class="help-block">
	        	<ul>
	        		<li>Must be between 8-20 characters long.</li>
	        		<li>Must contain at least one digit</li>
	        	</ul>
        	</div>
        	<div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
        		<input type="password" class="form-control" name="password1" id="password1" pattern="^(?=.*[\d]).{7,}$" maxlength="20" placeholder="Password" required>
        	</div>
        </div>
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                <input type="password" class="form-control" name="password2" id="password2" data-match="#password1" maxlength="20" data-match-error="Whoops, these don't match" placeholder="Confirm password" required>
        	</div>
        	<div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans 'Register' %}</button>
        </div>
    </form>
{% endblock %}

{% block custom-scripts %}<script src="{% static 'scripts/validator.min.js' %}"></script>
<script src="{% static 'scripts/loginregister.js' %}"></script>{% endblock %}