.map-option{
    background-color: rgba(51, 153, 255, 0.2);
    height: 700px;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically aligns items */
    align-items: center; /* horizontally aligns items */
}

.map-option:hover{
    background-color: rgba(153, 204, 255, 0.2);
    cursor: pointer;
}

.no-padding{
    padding: 0px !important;
}

.panel-results, .panel-heading, .panel-chat{
    border-radius: 0em;
    margin: 0px;
}

#panel-results-box{
    overflow-y: auto;
}

.chat-div{
    width:100%;
}

.fa-compass:hover, .fa-link:hover{
    cursor:pointer;
    color: #B40101;
}

.pac-container {
    z-index: 1051 !important;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

input[readonly] {
    background-color: #fff !important;
    cursor:text !important;
}

#email-link, #email-link-auth{
    text-decoration: underline;
    color: #B40101;
    cursor:pointer;
}

.friend-name{
    color: #5bc0de;
}

#friend-list-share{
    display: block;
    height: 260px !important;
    overflow: scroll;
}

.share-panel{
    text-decoration: underline;
    cursor:pointer;
}

.online-indicator{
    color: #A6AD3C;
}

/* Hidding the radiobuttons & checkboxes */
input[type="radio"]{
    display: none;
}
/* Hidding the "check" status of inputs */
input[type="radio"] + label .fa-check-circle-o{
display: none;
}
/* Styling the "check" status */
input[type="radio"]:checked + label .fa-check-circle-o{
display: block;
color: #F0CE4E;
}
/* Styling radiobuttons */
input[type="radio"]:checked + label .fa-circle-o {
display: none;
}

.panel {
    border-radius: 0px;
    margin: 0px;
}

.map-container .row {
    border: 1px solid #BF2A23;
    max-height: 500px;
}

.panel-results {
    height: 455px;
}

.panel-footer {
    height: 40px;
    padding: 0;
    margin-top: 1px;
}

.panel-footer .btn {
    margin: 0;
    border-radius: 0;
}

.panel-heading {
    height: 40px;
}

#panel-results-box {
    height: 420px;
}

#map-cell {
    border-right: 1px solid #BF2A23;
}

.panel-body {
    padding: 0;
}

#chat-cell {
    border-right: 1px solid #BF2A23;
}

.map-container .input-group-btn button {
    padding: 5px 10px;
}

#chat-cell .panel-footer {
    height: 0px !important;
}

.modal-content .row {
    border: 0;
}