
/*********************************
  SPLASH-CONTENT
*********************************/
.splash-content {
  background-image: url('../images/splashhires.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}



/*********************************
  SPLASH-BOX
*********************************/
.splash-box {
  display: inline-block;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.splash-box #title {
  padding: 15px;
  font-family: 'Dancing Script', cursive;
  font-size: 7em;
  font-weight: bold;
  color: #BF2A23;
  text-shadow: 2px 2px #8A211D;
}
.splash-box input{
  width: 100%;
  padding: 10px;
  text-align: center;
  height:40px;
  border: 1px solid #ccc;
  background: #fafafa;
  transition:0.2s ease-in-out;
}
.splash-box input:focus{
  outline: 0;
  background: #eee;
}
.splash-box input[type="text"]{
  border-radius: 3px 3px;
  margin-bottom: 3px;
}
.splash-box input[type="password"]{
  border-radius: 3px 3px;
  border-top: 0;
}
.splash-box input[type="submit"]{
  margin-top:15px;
  padding: 10px 20px;
  color: #fafafa;
  border: #8A211D;
  background: #BF2A23;
  font-weight: bold;
}
.splash-box p {
  margin: 0;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  text-shadow: 1px 1px #333;
}
.splash-box .center {
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}




/*********************************
  SPLASH-LEFT
*********************************/
.splash-left {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.splash-left p {
  font-family: 'Imprima', sans-serif;
  color: #fff;
  font-weight: bold;
}



/*********************************
  SPLASH-RIGHT
*********************************/
.splash-right {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  text-align: center;
  text-shadow: 1px 1px #333;
}
.splash-right a {
  color: #BF2A23;
}