body {
	padding-bottom: 40px;
}

.content {
	margin-top: 50px;
}

.footer {
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.registerform {
	max-width: 800px;
	padding: 15px;
	margin: 0 auto;
}

.paslogo_large {
	height: 100px;
	display: block;
	margin: 0 auto;
}

.splashbanner {
	margin: 0 auto;
	display: block;
}

.splashintro {
	width: 1000px;
	margin: 0 auto;
	margin-top: 3%;
	line-height: 25px;
}