/*
COLOUR SCHEME
http://www.colourlovers.com/palette/122168/Fuji_Apple
Red       BF2A23  191,42,35
Green     A6AD3C  166,173,60
Yellow    F0CE4E  240,206,78
Orange    CF872E  207,135,46
Dark Red  8A211D  138,33,29
*/

/*********************************
  GLOBAL
*********************************/
body {
  padding-top: 50px;
}

a {
  color: #BF2A23;
}

/*********************************
  BASE CONTENT PAGE
*********************************/
.content {
  margin-top: 25px;
  margin-bottom: 20px;
}

.username {
  color: #CF872E;
}

.paslogo_large {
  height: 100px;
  display: block;
  margin: 0 auto;
}

/*********************************
  FOOTER
*********************************/
.footer {
  font-size: 1.2em;
  padding-top: 20px;
	bottom: 10px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.footer a {
  vertical-align: top;
}

.footer img {
  margin-right: 25px;
}

/*********************************
  NAVIGATION
*********************************/
.nav-logo {
  width: 20px;
  margin: 0 auto;
}

.nav {
  color: #BF2A23;
}

.nav .active {
  border-bottom: 2px solid #333;
}

/*********************************
  MOBILE SCREENS
*********************************/
@media screen and (max-width: 768px) {
  body {
    padding-top: 300px;
  }
}