
.list-content{
 min-height:300px;
}
.list-content .list-group .title{
  background:#BF2A23;
  border:2px solid #DDDDDD;
  font-weight:bold;
  color:#FFFFFF;
}
.list-group-item img {
    height:80px; 
    width:80px;
}

.jumbotron .btn {
    padding: 5px 5px !important;
    font-size: 12px !important;
}
.prj-name {
    color:#5bc0de;    
}
.break{
    width:100%;
    margin:20px;
}
.name {
    color:#BF2A23;    
}
.bootstrap .jumbotron {
  padding: 5px;
}

.scrollable {
  height: 300px;
  overflow-y: auto;
}

.friend-name {
  width: 700px;
}

.just-added {
  background: #C7FFB5;
}









.horizontal-addfriend {
  vertical-align: middle;
}

.horizontal-addfriend .title {
  padding: 0;
}

.horizontal-addfriend label {
  margin: 0;
}

.horizontal-addfriend .addfriend-input {
  padding: 0;
}

.horizontal-addfriend input[type="text"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.horizontal-addfriend input[type="submit"] {
  background: #CF872E;
  border-color: #CF872E;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
  color: #fff;
}

.list-content {
  margin-top: 15px;
}