.map-option{
    background-color: rgba(51, 153, 255, 0.2);
    height: 700px;
    margin: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically aligns items */
    align-items: center; /* horizontally aligns items */
}

.map-option:hover{
    background-color: rgba(153, 204, 255, 0.2);
    cursor: pointer;
}

.no-padding{
    padding: 0px;
}

.panel-results, .panel-heading, .panel-chat{
    border-radius: 0em;
    margin: 0px;
}

#btn-ready-pick{
    border-radius: 0em;
    padding: 0px;
    width: 100%;
}

#panel-results-box{
    overflow-y: auto;
}

.chat-div{
    width:100%;
}

.fa-compass:hover, .fa-link:hover{
    cursor:pointer;
    color: #B40101;
}

.pac-container {
    z-index: 1051 !important;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

input[readonly] {
    background-color: #fff !important;
    cursor:text !important;
}

#email-link, #email-link-auth{
    text-decoration: underline;
    color: #B40101;
    cursor:pointer;
}

.friend-name{
    color: #5bc0de;
}

#friend-list-share{
    display: block;
    height: 260px !important;
    overflow: scroll;
}